In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
name_1 = ["q1","q2","q3"]
data_1 = [10,20,30]

In [4]:
array_1 = np.array(data_1)

In [5]:
dic_1 = {'set1': [12,12,21], 'set2':[23, 4, 1], 'set3':[354,12,6]}
dic_2 = {'p':12, 'q': 13, 'r':14}

In [6]:
pd_series1 = pd.Series(data=dic_2)

In [7]:
pd_series1

p    12
q    13
r    14
dtype: int64

In [8]:
pd_series2 = pd.Series(data=dic_1)
pd_series2

set1    [12, 12, 21]
set2      [23, 4, 1]
set3    [354, 12, 6]
dtype: object

In [9]:
pd_series3 = pd.Series(data_1)

In [10]:
pd_series3

0    10
1    20
2    30
dtype: int64

In [11]:
pd_series4 = pd.Series(data=data_1, index= name_1)

In [12]:
pd_series4

q1    10
q2    20
q3    30
dtype: int64

In [13]:
pd_series4  = pd.Series(data = data_1, index = ['s','p','r'])
pd_series4

s    10
p    20
r    30
dtype: int64

In [14]:
pd_series5  = pd.Series(data = data_1, index = ['p','s','m'])
pd_series5

p    10
s    20
m    30
dtype: int64

In [15]:
pd_series4 + pd_series5

m     NaN
p    30.0
r     NaN
s    30.0
dtype: float64

In [16]:
pd_series5[2]

30

In [17]:
df1 = pd.DataFrame(np.random.randn(5,4), index=['r1','r2','r3','r4','r5'], columns= ['c1','c2','c3','c4'])

SyntaxError: unterminated string literal (detected at line 1) (667546812.py, line 1)

In [31]:
df1[['c1','c2']]

          c1        c2
r1  0.331499  0.210148
r2 -1.265711  1.466513
r3 -0.556971 -0.648032
r4 -1.621010  1.095898
r5 -2.041426  0.938112

In [ ]:
df1['temp'] = [1,2,3,4,5]

In [ ]:
df1

In [ ]:
df1.drop('temp', axis=1, inplace=True)

In [ ]:
df1

In [21]:
df7 = pd.DataFrame(np.random.randn(2,3).reshape(3,2), columns=['column1','column2'], index=['row1','row2','row3'])

In [22]:
df7

       column1   column2
row1 -0.058082 -0.330858
row2  0.837947  0.502206
row3 -0.621695 -1.002122

In [23]:
df7['column2']['row2']

0.5022055734432962

In [44]:
df1

          c1        c2        c3        c4
r1  0.331499  0.210148 -0.524509 -0.471959
r2 -1.265711  1.466513 -0.817898  1.191990
r3 -0.556971 -0.648032  0.498388 -0.325152
r4 -1.621010  1.095898  1.842171 -1.562282
r5 -2.041426  0.938112  1.713108 -0.345903

In [46]:
df1.loc[('r3','r5'),('c3','c4')]

          c3        c4
r3  0.498388 -0.325152
r5  1.713108 -0.345903

In [ ]:
df1.reset_index()